* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
}


body, h1, h2, h3, h4, p, button {
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: black;
    text-align: center;
    padding: 40px;
    color: white;
}

.cabecera h1 {
    font-size: 25px;
    margin-bottom: 10px; 
}

.cabecera h2 {
    font-size: 70px;
}

.cabecera button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 10px;
}


section {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.Responsive, .CSS, .Diseño {
    width: 30%;
}

.Responsive h3, .CSS h3, .Diseño h3 {
    font-size: 1.2em;
}

.Responsive img, .CSS img, .Diseño img {
    max-width: 100px;
}

.Responsive h4, .CSS h4, .Diseño h4 {
    font-size: 1em;
    margin-top: 10px;
}
